<h2>Check out these trail options, or add one to the list!</h2>
<%= link_to 'New Trail', new_trail_path %>
<ul>
  <% @trails.each do |trail| %>
    <li><%= link_to trail.name, trail_path(trail) %> in <%= trail.location %> - <%= trail.length %><br></li>
      <td><%= link_to 'Edit', edit_trail_path(trail) %></td>
      <td><%= link_to 'Destroy', trail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</ul>
