<h2><u>The Trail:</u></h2>
<br>
<h3><strong><%= @trail.name %></strong></h3>
<h4><strong>Trail Type: </strong><%= @trail.path_type %></h4>
<h4><strong>Length: </strong><%= @trail.length %></h4>
<h4><strong>Location: </strong><%= @trail.location.name %></h4>
<h5><strong>Description: </strong><%= @trail.description %></h5><br>

<% if @trail.reviews.present? %>
  <%= link_to "See reviews for this trail", trail_reviews_path(@trail), class: "btn btn-outline-secondary" %><br>
<% end %>
<br>
<%= link_to "Add Review", new_trail_review_path(@trail), class: "btn btn-outline-success btn-sm" %><br>
<br>
<%= link_to 'Back', trails_path, class: "btn btn-outline-primary btn-sm" %>
