<% if @trail %>
  <h2><strong><%= @trail.name %></strong></h2>
  <h5><strong>Location: </strong><%= @trail.location.name %></h5>
  <%= link_to "Add Review", new_trail_review_path(@trail), class: "btn btn-outline-secondary" %><br>
  <br>
  <% if @reviews.present? %>
    <ul style="list-style: none;">
      <h4><u>Reviews:</u></h4><br>
      <% @reviews.each do |r| %>
      <li><h4><strong><%= r.title %></strong> - <%= pluralize(r.stars, "star") %></h4></li>
      <h5><%= r.content %></h5>
  <% end %>
      </ul><br>
    <% else %>
    <p>Add the first review for this route.</p>
    <%= link_to "Add Review", new_trail_review_path(@trail) %>
    <% end %>
<% else %>
<h2>All Trail Reviews!</h2>
  <% @trails.each do |t| %>
    <% if t.reviews.present? %>
    <ul>
      <% t.reviews.each do |r| %>
        <li><h4><%= link_to r.trail.name, review_path(r) %> - <%= r.title %> - <%= pluralize(r.stars, "star") %></h4></li>
        <p><%= r.content %></p>
        <br>
      <% end %>
    </ul>
    <% end %>
  <% end %>
<% end %>
