<h1>The Review:</h1>
<h2><%= @review.trail.name %></h2>
<h3><%= @review.title %></h3>
<h3><%= pluralize(@review.stars, "star") %></h3>
<p><%= @review.content %></p>

<%= link_to "The Trail", trail_path(@review.trail) %><br>
<%= link_to "Reviews for this Trail", trail_reviews_path(@review.trail) %><br>
<%= link_to "Add Review", new_trail_review_path(@review.trail) %><br>
<%= link_to "Edit Review", edit_review_path(@review) %><br>
<%= button_to "Delete Review", review_path(@review), method: :delete %>

<%= link_to 'Back', trails_path %>
